
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-sun-filled:before { content: '\e802'; } /* '' */
.icon-sun:before { content: '\e803'; } /* '' */
.icon-moon:before { content: '\e804'; } /* '' */
.icon-moon-1:before { content: '\f186'; } /* '' */
