*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background: rgb(242, 242, 98);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
}
section{
    width: 100px;
    height: 30px;
    border-radius: 80px;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 99;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section>i{
    font-size: 20px;
    padding: 3px;
    position: relative;
    cursor: pointer;
}
section>div{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:black;
    left: 0;
    top: 0;
    z-index: 10000;
    transition: 0.5s;
}

input{
    width: 400px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 70px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    width: 300px;

    
   
}
ul>li{
    display: none;
    list-style: none;
    padding-top: 2px;
    padding: 10px;
    cursor: pointer;
    font-size:20px;
    font-weight: lighter;


}


.se{
    background-color: black;
    border: 2px solid white;
    color: white;
}


